.signup{
    width: 100%;
    background: linear-gradient(92.42deg, #4264E2 17.31%, #C84DF8 76.53%, #FFFFFF 109.42%);
    display: flex;
    padding: 50px 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:50px;
}
.signup h1{
    margin: auto;
    text-align: center;
    width: 80vw;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    color: white;
}
.signup-signup{
    display: flex;
    justify-content: space-around;
    gap: 10px;
} 
.signup-signup input{
    border: 1px solid #E6E6E6;
    background-color: white;
    border-radius: 2px; 
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    color: black;
    width: 300px;
}
.signup-signup button{
    padding: 10px;
    background: #0466C8;
    border-radius: 9px;
    color: white;
    width: auto;
    font-size: 12px;
    font-weight: 500;
    border: none;
}
.sending{
    font-size: 16px;
    font-weight: 500px;
    width: 80%;
    text-align: center;
    color: white;
}
@media only screen and (max-width: 996px){
    .signup h1{
        font-weight: 600;
        font-size: 22px;
        color: white;
        width: 80vw;
        line-height: 30px;
    }
    .signup-signup{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
    } 
}