.hero-screen{
    width: 100%;
    height: calc(100vh + 80px);
    max-height: 100%;
    margin-top: -80px;
    padding-top: 80px;
    background-image: linear-gradient(103.14deg, #4264E1 7.13%, #EE46FE 94.84%);
    background-size: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.hero-text{
    margin-top: 50px;
    align-items: center;
    text-align: center;
    width: 500px;
    color: white;
}
h1{
    font-family: 'Montserrat';
}
.hero-text h1{
    font-weight: 800;
    font-size: 40px;
}
.hero-buttons{
    display: flex;
    gap: 50px;
}
.hero-buttons .start{
    display: flex;
    gap: 10px;
    background: #0C233A;
    padding: 15px 28px;
    border-radius: 8px; 
    display: flex;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.start:hover{
    background: #0466C8;
}
.hero-buttons .request{
    color: #0C233A;
    padding: 15px 18px;
    background-color: transparent;
    display: flex;
    border: none;
    border: 2px solid #0C233A;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
}
.hero-buttons .request a{
    color: #0C233A;
}
.request:hover{
    background: #0466C8;
    color: white;
    border: 2px solid transparent;
}
.request:hover a{
    color: white;
}
.hero-image{
    overflow: visible;
}
.hero-image .desk{
    height: auto;
    width: auto;
    max-width: 80vw;
    max-height: 70vh;
    object-fit: contain;
    image-resolution: from-image;
}
.hero-image .mobile{
    display: none;
}
@media only screen and (max-width: 996px) {
    .hero-text h1{
        font-size: 35px;
        color: white;
    }
}
@media only screen and (max-width: 600px){
    .hero-screen{
        gap: 0 px;
        padding-bottom: 150px;
    }
    .hero-text{
        margin-top: 25px;
        width: 80vw;
    }
    .hero-text h1{
        font-size: 24px;
        letter-spacing: 0.01em;
        line-height: 150%;
    }
    .hero-text p{
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.01em;
    }
    .hero-buttons{
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .hero-buttons button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-image .desk{
        display: none;
    }
    .hero-image .mobile{
        display: block;
        width: 80vw;
        object-fit: contain;
    }
}
@media only screen and (max-height: 650px) {
    .hero-image .desk{
        display: none;
    }
    .hero-image .mobile{
        display: block;
        width: 20vw;
        object-fit: contain;
    }
}