.platform-screen{
    width: 100%;
    background: #040D21;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;
}
.platform-screen h1{
    margin: auto;
    text-align: center;
    width: 60vw;
    font-weight: 500;
    color: white;
}
.span-bold{
    font-weight: 800;
}
.platform-screen .desktop-waterdip{
    margin: auto;
    height: auto;
    width: auto;
    max-height: 80vh;
    max-width: 80vw;
    object-fit: contain;
}
.platform-screen .mobile-waterdip{
    display: none;
}
@media only screen and (max-width: 996px) {
    .platform-screen h1{
        font-size: 25px;
        color: white;
        width: 80vw;
    }
    .platform-screen .desktop-waterdip{
        display: none;
    }
    .platform-screen .mobile-waterdip{
        display: block;
        margin: auto;
        max-width: 50vw;
        object-fit: contain;
    }
    
}
@media only screen and (max-width: 800px) {
    .platform-screen .mobile-waterdip{
        max-width: 65vw;
        object-fit: contain;
    }
}
@media only screen and (max-width: 600px){
    .platform-screen{
        padding-top: 10vh;
        gap: 75px;
    }
    .platform-screen h1{
        align-items: center;
        width: 80vw;
    }
    .platform-screen h1{
        font-size: 22px;
        letter-spacing: 0.01em;
    }
    .platform-screen .mobile-waterdip{
        max-width: 90vw;
        object-fit: contain;
    }
    
}