.platform-screen{
    width: 100%;
    padding-top: 20vh;
    background: #040D21;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;
}
.platform-screen h1{
    margin: auto;
    text-align: center;
    width: 60vw;
    font-weight: 500;
    color: white;
}
.span-bold{
    font-weight: 800;
}
.platform-screen img{
    margin: auto;
    height: 70vh;
    object-fit: contain;
}
@media only screen and (max-width: 996px) {
    .platform-screen h1{
        font-size: 25px;
        color: white;
        width: 80vw;
    }
}
@media only screen and (max-width: 600px){
    .platform-screen{
        padding-top: 10vh;
        gap: 75px;
    }
    .platform-screen h1{
        text-align:left;
        align-items: center;
        width: 80vw;
    }
    .platform-screen h1{
        text-align:left;
    }
}