.card{
    width: 250px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap:10px;
    color: white;
    background: #040D21;
}
.card h1{
    font-size: 18px;
    font-weight: 700;
}
.card p{
    font-size: 14px;
    font-weight: 500;
    color: #9AA0AD;;
}