.feature-screen{
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 20vh;
    background: #040D21;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;
}
.feature-screen h1{
    text-align: center;
    font-weight: 500;
    color: white;
}
.lol{
    width: 80vw;
    margin: 0 auto;
}
.carousel{
    width: 80vw;
}

.slider{
    margin: auto;
}
.slide{
    height: 450px;
}
@media only screen and (max-width: 600px) {
    .feature-screen{
        gap: 20px;
    }
    .feature-screen h1{
        font-size: 24px;
        letter-spacing: 0.01em;
    }   
}