.performance-screen{
    width: 100%;
    padding-top: 30vh;
    background: #040D21;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}
.performance-text h1{
    margin: auto;
    text-align: center;
    width: 60vw;
    font-weight: 500;
    color: white;
}
.span-bold{
    font-weight: 800;
}
.cards{
    margin: auto;
    max-width: 80vw;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}
@media only screen and (max-width: 996px) {
    .performance-text h1{
        font-size: 25px;
        color: white;
        width: 80vw;
    }
}
@media only screen and (max-width: 600px){
    .performance-screen{
        padding-top: 10vh;
        gap: 75px;
    }
    .performance-text{
        text-align:left;
        align-items: center;
        width: 80vw;
    }
    .performance-text h1{
        text-align:left;
    }
}